<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor02" style="">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a asp-controllers="Home" asp-action="Index" class="nav-link active">
                            Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="About">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Hobbies">My Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ReturnAFile">Resume</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>