@{ Layout = "~/Views/Shared/_Layout.cshtml";}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
</head>
<body>

    <div class="container">
        <h1>About Me</h1>
        <p></p>
        <div class="container">
            <div class="card text-white bg-primary mb-3" style="max-width: 80%;">
                <div class="card-body">
                    <h4 class="card-title">What I'm Doing</h4>
                    <p class="card-text">I'm currently a junior at The University of Texas at Austin working towards my MIS degree. </p>
                </div>
            </div>

            <p></p>

            <div class="card text-white bg-primary mb-3" style="max-width: 80%;">
                <div class="card-body">
                    <h4 class="card-title">Where I'm from</h4>
                    <p class="card-text">
                        I was born and raised in Katy, Texas. Aside from two years I spent in Indonesia, I have lived in Texas my whole life. While I love Texas, I hope to be able to live somewhere else after I graduate.
                        I'm open to the idea of almost anywhere, but I'd want to live in Singapore at least once in my life.
                    </p>
                </div>
            </div>

            <p></p>

            <div class="card text-white bg-primary mb-3" style="max-width: 80%;">
                <div class="card-body">
                    <h4 class="card-title">Places I want to visit</h4>
                    <p class="card-text">
                        In all my years, I've never gone to London, Paris or anywhere in Europe, really.
                        I've also never visited South America or Hawaii. After I graduate, I plan on taking some time off to travel and ,hopefully, visit all these places I've never been to.
                    </p>
                </div>
            </div>

            <p></p>

            <div class="card text-white bg-primary mb-3" style="max-width: 80%;">
                <div class="card-body">
                    <h4 class="card-title">My reading list</h4>
                    <p class="card-text">
                        Currently, I'm reading James Clear's Atomic Habits. My all time favorite read is Hitchhiker's Guide to the Galaxy. It's a hilarious and witty book. I'd recommend it to anyone wanting a laugh.
                    </p>
                </div>
            </div>

        </div>

    </div>

    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>