@{ Layout = "~/Views/Shared/_Layout.cshtml";}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
</head>
<body>

    <div class="container">
        <h1>My Hobbies</h1>
        <h4></h4>
        <h3>Videogames</h3>
        <p>
            Whenever I have enough time to spare, I'll spend some of it on videogames. I mostly play League of Legends and Valorant. Playing these games allows me to connect with friends despite how far away some are.
            With how busy everyone is with school, we don't always get the time to play games anymore, but the time I do get to spend feels that much more important.
        </p>

        <h4></h4>

        <h3>Working Out</h3>
        <p>
            Going to the gym has become one of my better habits. Being able to release stress after class is an amazing feeling. Working out has improved not only my physical health, but also my mental health.
            I've come to enjoy the process, especially since many of my friends also go the gym. Being able to go with others help keep me accountable and motivated. Not only that, but it adds a social aspect to the gym
        </p>

        <h4></h4>

        <h3>Spikeball</h3>
        <p>
            I've come to really enjoy playing Spikeball. It's an accessible and convenient sport that almost anyone can enjoy. With so many places to play and so many people to play with, Spikeball is not only fun, but
            also a great social experience.

        </p>
        <p class="align-middle">
            In case you dont know what Spikeball is:
            <iframe width="560" height="315" src="https://www.youtube.com/embed/WsA55e7ldpU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>

        <h4></h4>

        <h3>Food</h3>
        <p>
            I'm not sure I can call food a hobby as much as a neccessity, but I've found a lot of fun in finding new places to eat in Austin. Some of my favorite spots in Austin so far are <a href="https://docs.microsoft.com/en-us/learn/">Rosita's Al Pastor</a>,
            <a href="http://888panasianrestaurant.com/">888</a>, and <a href="https://www.terryblacksbbq.com/">Terry Black's BBQ</a>. I'd recommend these places to anyone visiting Austin, but it's hard to go wrong with any restauarant here.'
        </p>

    </div>

    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>